infra/state_machine.asl.json
{
  "Comment": "Lady Glass document-level workflow. Step Functions orchestrates SubmitPages -> Wait -> CheckPages -> Choice -> Merge -> ArchiveResult -> IndexKowloon / MarkJobFailed. The optional RenderPages branch splits PDFs into per-page PDFs before SubmitPages when input.mode == 'rendered'. Per-page AI work (gemini -> normalize_card_statement -> enrich_transactions) happens entirely inside the SQS+Lambda chain, not in this state machine. ArchiveResult flattens the merged per-page result into a permanent-bucket transactions.v1 document; IndexKowloon hands that document to Kowloon. Both are best-effort with respect to the job's own success: a failure there is caught and the job still reaches NotifyCompletion, because the document itself was already merged successfully.",
  "StartAt": "ModeChoice",
  "States": {
    "ModeChoice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.mode",
          "StringEquals": "rendered",
          "Next": "RenderPages"
        }
      ],
      "Default": "SubmitPages"
    },
    "RenderPages": {
      "Type": "Task",
      "Resource": "${RenderPagesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "input_uri.$": "$.input_uri"
      },
      "ResultPath": "$.render_result",
      "Next": "SubmitPagesAfterRender"
    },
    "SubmitPagesAfterRender": {
      "Type": "Task",
      "Resource": "${SubmitPagesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "input_uri.$": "$.input_uri",
        "pages.$": "$.render_result.pages",
        "chain.$": "$.chain"
      },
      "ResultPath": "$.submit_result",
      "Next": "WaitForPages"
    },
    "SubmitPages": {
      "Type": "Task",
      "Resource": "${SubmitPagesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "input_uri.$": "$.input_uri",
        "pages.$": "$.pages",
        "chain.$": "$.chain"
      },
      "ResultPath": "$.submit_result",
      "Next": "WaitForPages"
    },
    "WaitForPages": {
      "Type": "Wait",
      "Seconds": 10,
      "Next": "CheckPages"
    },
    "CheckPages": {
      "Type": "Task",
      "Resource": "${CheckPagesLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "page_count.$": "$.submit_result.page_count",
        "final_stage.$": "$.final_stage",
        "final_version.$": "$.final_version"
      },
      "ResultPath": "$.check_result",
      "Next": "JobStatus?"
    },
    "JobStatus?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.check_result.status",
          "StringEquals": "succeeded",
          "Next": "Merge"
        },
        {
          "Variable": "$.check_result.status",
          "StringEquals": "failed",
          "Next": "MarkJobFailed"
        }
      ],
      "Default": "WaitForPages"
    },
    "Merge": {
      "Type": "Task",
      "Resource": "${MergeLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "page_count.$": "$.submit_result.page_count",
        "final_stage.$": "$.final_stage",
        "final_version.$": "$.final_version"
      },
      "ResultPath": "$.merge_result",
      "Next": "ArchiveResult"
    },
    "ArchiveResult": {
      "Type": "Task",
      "Resource": "${ArchiveResultLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "tenant_id": "${TenantID}"
      },
      "ResultPath": "$.archive_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 10,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.archive_error",
          "Next": "NotifyCompletion"
        }
      ],
      "Next": "IndexKowloon"
    },
    "IndexKowloon": {
      "Type": "Task",
      "Resource": "${IndexKowloonLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "tenant_id": "${TenantID}",
        "manifest_uri.$": "$.archive_result.manifest_uri"
      },
      "ResultPath": "$.index_result",
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 3,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.index_error",
          "Next": "NotifyCompletion"
        }
      ],
      "Next": "NotifyCompletion"
    },
    "MarkJobFailed": {
      "Type": "Task",
      "Resource": "${MarkJobFailedLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id",
        "error": "one or more page stages reported status=failed"
      },
      "ResultPath": "$.mark_failed_result",
      "Next": "NotifyCompletion"
    },
    "NotifyCompletion": {
      "Type": "Task",
      "Resource": "${NotifyCompletionLambdaArn}",
      "Parameters": {
        "job_id.$": "$.job_id"
      },
      "Retry": [
        {
          "ErrorEquals": ["States.ALL"],
          "IntervalSeconds": 30,
          "MaxAttempts": 5,
          "BackoffRate": 2.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.notify_error",
          "Next": "Done"
        }
      ],
      "Next": "Done"
    },
    "Done": {
      "Type": "Pass",
      "End": true
    }
  }
}
